---
import MainLayout from "../../layouts/MainLayout.astro"
export async function getStaticPaths() {
  const data = await fetch("https://guxntefulwidsldenixo.supabase.co/rest/v1/speakers_ux_cph", {
	method:"GET",
	headers: {
		apikey: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imd1eG50ZWZ1bHdpZHNsZGVuaXhvIiwicm9sZSI6ImFub24iLCJpYXQiOjE2OTY1ODQ3MDEsImV4cCI6MjAxMjE2MDcwMX0.1SvzDoE_3eLOMgQNAxNtYIdiE6wCaZIzPeJSjTSfmYQ"
	}
}
).then(response => response.json());

  return data.map((speaker) => {
    return {
      params: { slug: speaker.slug },
      props: { myData:speaker },
    };
  });
}

const {myData} = Astro.props;
console.log(myData);
---
<MainLayout>
<div class="grid_2">
  <div>
  <img src={`/images/speakers/${myData.image}`} alt="Speaker">
  </div>
  <div>
    <h1>{myData.name}</h1>
    <h2>{myData.position}</h2>
    <h3>{myData.company}</h3>
    <h4>{myData.area}</h4>
    <p>{myData.description}</p>
  </div>
</div>
</MainLayout>


<style>

.grid_2{
  display: flex;
  grid-template-columns: 1fr 1fr;
}
img{
  width: 80%;
  height: auto;
  border-radius: 48%;
  padding: 2rem;
}

h1{
position: relative;
font-size: 7cqw;
line-height: 100px;
z-index: 1;
}
</style>