---
import MainLayout from "../../layouts/MainLayout.astro"
export async function getStaticPaths() {
  const data = await fetch("https://guxntefulwidsldenixo.supabase.co/rest/v1/speakers_ux_cph", {
	method:"GET",
	headers: {
		apikey: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imd1eG50ZWZ1bHdpZHNsZGVuaXhvIiwicm9sZSI6ImFub24iLCJpYXQiOjE2OTY1ODQ3MDEsImV4cCI6MjAxMjE2MDcwMX0.1SvzDoE_3eLOMgQNAxNtYIdiE6wCaZIzPeJSjTSfmYQ"
	}
}
).then(response => response.json());

  return data.map((speaker) => {
    return {
      params: { slug: speaker.slug },
      props: { myData:speaker },
    };
  });
}

const {myData} = Astro.props;
console.log(myData);
---
<MainLayout>
<div class="grid_2">
  <div>
    <div class="picture">
      <img class="img" src={`/images/speakers/${myData.image}`} alt="Speaker">
      <div class="socials">
        <img src="/logo/facebook.svg" alt="Facebook">
        <img src="/logo/instagram.svg" alt="Facebook">
        <img src="/logo/youtube.svg" alt="Facebook">
      </div>
    </div>
  </div>
  <div class="text">
    <h1>{myData.name}</h1>
    <div>
    <h2>{myData.position}</h2>
    <h3>{myData.company}</h3>
    <h4>{myData.area}</h4>
    <p>{myData.description}</p>
    </div>
  </div>
</div>
</MainLayout>


<style>
.grid_2{
  display: flex;
  flex-direction: column;
}

img{
  max-width: 80%;
  border-radius: 48%;
}

.img{
    margin: 4% 4% 0% 4%;
}
.picture{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1% 1% 1% 1% ;
}

.socials{
    display: flex;
    flex-direction: row;
    padding-top: 5%;
    gap: 3%;
}
.socials img{
  width: 50px;
  border-radius: 0%;
}

.text{
  padding: 4%;
}
h1{
font-size: 8.9cqw;
color: var(--secondary);
}
h2{
font-size: 5cqw;

}
h3{
font-size: 3.5cqw;
margin-top: 0%;

}
h4{
  font-size: 2.8cqw;
}
p{
  padding-bottom: 10%;
}

@media (min-width: 900px) {
.grid_2{
  display: flex;
  flex-direction: row;
}

.picture{
  margin: 4% 4% 15% 4%;
  padding: 0% 0% 0% 9%;
}
.img{
  max-width: 600px;  
  height: auto;
}
.socials{
  display: flex;
  flex-direction: row;
}
.socials img{
  width: 80px;
  height: auto;
  margin-top: 3%;
  margin-right: 8%;
  }
.socials img:nth-child(3) {
  margin-right: 0;
  }
.text{
  display: flex;
  flex-direction: column;
  margin-top: 3%;
  padding: 0% 0% 0% 5%;

}
h1{
line-height: 100%;
color: var(--secondary);
translate: -23% 18%;
}
h2{
position: relative;
max-width: 600px;
margin-bottom: 1%;
line-height: 100%;
z-index: 1;
}
h3{
position: relative;
margin-top: 0%;
z-index: 1;
max-width: 600px;
line-height: 100%;
}
p{
  max-width: 580px;
  line-height: 1.7;
  font-size: 1.3cqw;
}
}
</style>